server.clients.updateinterval.ms=50
globals.gametick.ms=25
globals.shot.caststun=0.60
globals.ent.painfactor=12.0
globals.ent.flatdamage=0.3
globals.titan.maxpain=20.0
globals.titan.maxheal=3.0
globals.goalie.disabled=false
globals.boost.drain=0.75
globals.boost.regen.fast=0.24
globals.boost.regen.slow=0.08
globals.boost.regen.cutoff=25.0
globals.boost.boostFactor=1.50
dasher.boost.boostFactor=1.50
dasher.boost.carrierFactor=1.30
ball.x=1040
ball.y=609
ball.w=30
ball.h=30
max.x=2048
min.x=36
max.y=988
min.y=232
max.ex=2030
min.ex=-10
max.ey=950
min.ey=170
goalie.box.xh=221
goalie.box.xa=1736
goalie.box.y=297
goalie.box.w=88
goalie.box.h=600
goalie.disable=false
goalie.disable.time=720.0
suddendeath.extreme.time=20.0
tie.time=30.0
goal.low.width=43
goal.low.height=107
goal.hi.width=70
goal.hi.height=84
goal.low.y=354
goal.low2.y=790
goal.hi.y=583
goal.home.hi.x=256
goal.home.low.x=305
goal.away.hi.x=1786
goal.away.low.x=1775
titan.hitbox.empty.x=50
titan.hitbox.empty.y=18
goalie.hitbox.intercept.w=90
goalie.hitbox.intercept.h=50
goalie.hitbox.solid.w=50
goalie.hitbox.solid.h=30
server.startDelay=5000
server.goalDelay=3000
pos.field=2050
pos.top.y=295
pos.mid.y=595
pos.bot.y=895
pos.fw.x=900
pos.mid.x=850
pos.def.x=470
globals.far.range=9999
titan.steal.cdms=4500
titan.steal.effectms=600
titan.arrow.range=320
titan.arrow.dmg=18
titan.arrow.cdms=4000
titan.cage.range=9999
titan.cage.cdms=10000
titan.wolf.cdms=20000
cage.hp=25
wolf.hp=10
wolf.spd=1.47
wolf.range=30.0
wolf.dmg.1=.08
wolf.dmg.2=.12
wolf.dmg.3=.15
titan.bportal.range=200
titan.bportal.cdms=7000
bportal.range=450
bportal.cdms=8000
titan.flare.dur=2.5
titan.flare.cds=5.0
titan.flare.initd=0.0
titan.flare.recurd=0.0
titan.flash.warrior.dist=140
titan.flash.stealth.dist=100
titan.flash.warrior.cds=23
titan.flash.stealth.cds=21
titan.flashbang.dur=1200
titan.flashbang.cdms=11000
titan.flashbang.range=260
titan.heal.range=250
titan.heal.dur=3000
titan.heal.cdms=8000
titan.heal.initd=10
titan.heal.recurd=0.25
titan.hide.dur=1200
titan.hide.cdms=9000
titan.ice.dur=2000
titan.ice.cdms=9000
titan.ice.range=150
titan.ice.ratio=1.4
titan.ignite.dur=2.0
titan.ignite.cds=20.0
titan.ignite.initd=5.0
titan.ignite.recurd=0.25
titan.ignite.range=250
titan.kick.range=120
titan.kick.dist=105
titan.kick.cdms=12000
titan.molotov.range=140
titan.molotov.dur=1500
titan.molotov.cdms=15000
titan.molotov.initd=1.0
titan.molotov.recurd=0.2
titan.molotov.hp=3.0
titan.portal.range=400
titan.portal.cdms=5500
portal.range=600
portal.cdms=10000
titan.scatter.range=180
titan.scatter.dist=200
titan.scatter.cdms=12000
titan.slash.range=200
titan.slash.dmg=20
titan.slash.cdms=4500
titan.stun.range=130
titan.stun.dur=375
titan.stun.cdms=7000
titan.shield.dur=5000
titan.shield.cdms=18000
titan.shield.ratio=10
titan.shoot.dur=750
titan.shoot.cdms=7000
titan.shoot.ratio=1.35
titan.stealth.dur=2500
titan.stealth.cdms=15000
titan.suck.range=280
titan.suck.cdms=30000
titan.suck.dist=65
titan.trap.range=200
titan.trap.cdms=12000
trap.dur=200
trap.stealth.dur=15000
trap.ratio=1.50
titan.wall.range=350
titan.wall.cdms=3500
titan.slow.range=250
titan.slow.dur=1000
titan.slow.cdms=15000
titan.slow.ratio=1.55
titan.goalie.rangex=1380
titan.goalie.rangey=200
masteries.speed.mult=1.03
masteries.throw.mult=1.04
masteries.range.mult=1.04
masteries.stealRadius.flat=1
masteries.health.mult=1.08
masteries.damage.mult=1.1
masteries.cooldowns.mult=1.1
masteries.effectDuration.mult=1.15
masteries.eCastFrames.mult=1.20
masteries.rCastFrames.mult=1.20
masteries.stealCastFrames.mult=1.18
masteries.painReduction.mult=1.25
masteries.boost.mult=1.35


guardian.reinforce.lifetime=45000
guardian.reinforce.health=15
guardian.emergencybarrier.lifetime=8000
guardian.emergencybarrier.health=8
guardian.healingburst.dur=4000
guardian.healingburst.ratio=1.0
guardian.healingburst.amt=20.0
guardian.homehealamp.mult=1.5
guardian.snaretrap.lifetime=30000
guardian.snaretrap.health=8
guardian.barrage.dmg=0.1
guardian.barrage.slow.ratio=1.35
guardian.barrage.slow.dur=1500
guardian.barrage.burn.dur=1500
guardian.speed.factor=0.04
guardian.forecheck.bonus=3.0
guardian.heistcamp.bonus=2.0
guardian.shove.speed=1.75
guardian.outpost.dmg=0.15
guardian.outpost.health=99999.0
minion.base.health=22.5
minion.heavy.health=45.0
goalie.click.damage=5.0
guardian.heroportals.xoffset=100.0
guardian.snaretrap.permhealth=99999999.0
guardian.wallportals.cooldown=2000.0
guardian.wallportals.count=10.0
guardian.dilators.speedmult=0.9
guardian.laneadvantage.softcap=10.0
guardian.laneadvantage.hardcap=20.0
guardian.laneadvantage.factor.below10=0.01
guardian.laneadvantage.factor.above10=0.005
guardian.crashbonus.lifetime=10000.0
guardian.crashbonus.amount=3.0

guardian.multiball.speed=2.80
guardian.pullgoalie.health=60.0
guardian.pullgoalie.speed=2.49
guardian.pullgoalie.statfactor=0.8

titan.captain.speed=3.61
titan.spider.speed=3.58
titan.warrior.speed=3.57
titan.marksman.speed=3.56
titan.houndmaster.speed=3.56
titan.dasher.speed=3.55
titan.support.speed=3.54
titan.artisan.speed=3.54
titan.ranger.speed=3.50
titan.grenadier.speed=3.45
titan.mage.speed=3.44
titan.stealth.speed=3.42
titan.builder.speed=3.36
titan.golem.speed=3.23
titan.goalie.speed=2.70

titan.goalie.health=290.0
titan.golem.health=230.0
titan.ranger.health=170.0
titan.builder.health=170.0
titan.houndmaster.health=170.0
titan.mage.health=170.0
titan.grenadier.health=160.0
titan.warrior.health=135.0
titan.spider.health=130.0
titan.artisan.health=130.0
titan.support.health=125.0
titan.marksman.health=125.0
titan.captain.health=120.0
titan.dasher.health=115.0
titan.stealth.health=115.0

titan.marksman.shoot=1.62
titan.goalie.shoot=1.55
titan.golem.shoot=1.55
titan.artisan.shoot=1.45
titan.dasher.shoot=1.41
titan.stealth.shoot=1.41
titan.captain.shoot=1.37
titan.grenadier.shoot=1.34
titan.builder.shoot=1.32
titan.spider.shoot=1.27
titan.mage.shoot=1.27
titan.houndmaster.shoot=1.22
titan.ranger.shoot=1.17
titan.support.shoot=1.14
titan.warrior.shoot=1.12

titan.goalie.eframes=1
titan.dasher.eframes=6
titan.golem.eframes=2
titan.ranger.eframes=4
titan.captain.eframes=4
titan.spider.eframes=5
titan.marksman.eframes=8
titan.warrior.eframes=8
titan.builder.eframes=10
titan.houndmaster.eframes=10
titan.grenadier.eframes=16
titan.artisan.eframes=20
titan.stealth.eframes=20
titan.mage.eframes=24
titan.support.eframes=32

titan.goalie.rframes=1
titan.marksman.rframes=6
titan.mage.rframes=10
titan.dasher.rframes=10
titan.support.rframes=10
titan.builder.rframes=10
titan.artisan.rframes=20
# breakeven = 36.3 frames (908ms) @ 130px vs 3.58 speed
titan.spider.rframes=20
# breakeven = 29.2 frames (731ms) @ 100px vs 3.42 speed
titan.stealth.rframes=20
# breakeven = 30.0 frames (750ms) @ 105px vs 3.50 avg speed
titan.ranger.rframes=21
titan.grenadier.rframes=24
# breakeven = 39.2 frames (980ms) @ 140px vs 3.57 speed
titan.warrior.rframes=26
# breakeven = 38.8 frames (969ms) @ 140px vs 3.61 speed
titan.captain.rframes=28
titan.houndmaster.rframes=40
# breakeven = 57.1 frames (1429ms) @ 200px vs 3.50 avg speed
titan.golem.rframes=41


# -5px for the lateral margin when perfectly horizontally aligned. IE, ranger has 7 pixels of effective margin when stealing.
titan.goalie.stealrad=28
titan.golem.stealrad=22
titan.artisan.stealrad=19
titan.dasher.stealrad=17
titan.support.stealrad=16
titan.houndmaster.stealrad=16
titan.grenadier.stealrad=15
titan.spider.stealrad=14
titan.stealth.stealrad=14
titan.warrior.stealrad=14
titan.mage.stealrad=14
titan.builder.stealrad=14
titan.captain.stealrad=13
titan.marksman.stealrad=12
titan.ranger.stealrad=12

titan.artisan.stealframes=40
titan.goalie.stealframes=1
titan.marksman.stealframes=40
titan.golem.stealframes=40
titan.ranger.stealframes=40
titan.dasher.stealframes=40
titan.stealth.stealframes=40
titan.support.stealframes=40
titan.warrior.stealframes=40
titan.mage.stealframes=40
titan.builder.stealframes=40
titan.grenadier.stealframes=40
titan.houndmaster.stealframes=40
titan.captain.stealframes=40
titan.spider.stealframes=40

titan.captain.shot.range=290
titan.captain.shot.cdms=800
titan.captain.reload.cdms=7500
titan.captain.slide.range=140
titan.captain.slide.cdms=16000
titan.spider.web.range=200
titan.spider.web.cdms=13000
titan.spider.cocoon.range=320
titan.spider.cocoon.cdms=18000